*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
.card{
    cursor: pointer;
}
.capa{
  position: absolute;
  width: 12vw;
}
.background-player{
  z-index: 30;
  position: absolute;
  width: 42vw;
  opacity: 50%;
}
.titulo-filme{
  color: white;
  font-size: 36px;
  max-width: 500px;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 20px;
}
.icone{
  width: 6vw;
  cursor: pointer;
}
.sinopse{
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-align: center;
  margin-left: 40px;
  margin-top: 2vh;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical; 
}
.itens{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-right: 6vw;
  margin-top: -55vh;
}
.img-itens{
  width: 70px;
}
.img-cifrao{
  width: 40px;
}
.texto-itens{
  font-size: 30px;
  color: white;
  margin-top: 15px;
}
